
.wall-display canvas {
    border: 1px solid #d3d3d3;
}

body { padding-top: 70px; }

.bar-legend li span {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
}

.bar-legend ul {
    list-style-type: none;
}


.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

