
canvas {
    border: 1px solid #d3d3d3;
}

body { padding-top: 70px; }

.bar-legend li span {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
}

.bar-legend ul {
    list-style-type: none;
}

.upload-form input {
    display: block;
}

.picture-display {
    display: inline-block;
}

.picture-display label {
    display: block;
    text-align: center;
}