{% extends 'base.html' %}
{% block content %}

<div class="container">

<!-- This should take in information about which wall! -->



{% if gallery.gallery_id is not none %}
<!-- The user has permission to access the gallery, show it and options -->

<div class='row'>
    <div class='col-xs-12 col-md-12'>
        <div class='arrange-display wall-display'
             data-wallid='{{gallery.display_wall_id}}' 
             data-galleryid='{{gallery.gallery_id}}'>
            <canvas class='canvas-arrange' 
                    id='canvas{{gallery.display_wall_id}}' height='300' width='900'> 
                If you dont have HTML5 canvas, you're gonna have a bad time.
            </canvas>
        </div>
            <div id='save-div' style="display:none">
                {% if 'user_id' in session %}
                    <button type="button" class="btn btn-default" 
                    id='save-button' data-wallid='null'>
                    Save This Wall
                    </button>
                    <span id='save-confirm'>Saved!</span>
                {% else %}
                    <p>You can't save things!</p>
                {% endif %}   
            </div>
            
    </div>   
</div>
<div class='row'>

        {%  for option in arrange_options %}

        <div class='col-sm-3'>
            <div class="text-center">
            <h5>{{ option.display_name }}</h5>
<!--             <img src={{ option.image }} class="img-thumbnail">
            <button type="button" class="btn btn-default arrange-select" 
                    data-algorithmtype={{ option.algorithm_type }}>
                {{ option.display_name }}
            </button> -->
            <img src={{ option.image }} class="img-thumbnail arrange-select" data-algorithmtype={{ option.algorithm_type }}>

            <button type="button" class="btn btn-default rearrange-select" 
                data-algorithmtype={{ option.algorithm_type }}>Redo
            </button>
            </div>
            <p>{{ option.description }}</p>   
            <hr>
        </div>

        {% endfor %}

</div>
    

{% else %}
<!-- The gallery cannot be displayed (probably user lacks permissions) -->
<p> I'm sorry Dave, I'm afraid I can't let you do that.</p>

{% endif %}

</div> <!-- /container -->

<script src="/static/js/wall.js"></script>

{% endblock %}


