{% extends 'base.html' %}
{% block content %}

<div class="container">

<!-- This should take in information about which wall! -->



{% if gallery_id is not none %}
<!-- The user has permission to access the gallery, show it and options -->

<div class='row'>
    <div class='col-xs-12 col-md-12'>
        <h3> Choose Arrangement Methods and Parameters! </h3>
        <div class='arrange-display wall-display' 
             data-wallid='{{wall_id}}' 
             data-galleryid='{{gallery_id}}'>
            <canvas class='canvas-arrange' 
                    id='canvas{{wall_id}}' height='300' width='900'> 
                If you dont have HTML5 canvas, you're gonna have a bad time.
            </canvas>
        </div>
            <div id='save-div' style="display:none">
                {% if 'user_id' in session %}
                    <button type="button" class="btn btn-default" 
                    id='save-button' data-wallid='null'>
                    Save This Wall
                    </button>
                    <span id='save-confirm'>Saved!</span>
                {% else %}
                    <p>You can't save things!</p>
                {% endif %}   
            </div>
            
    </div>   
</div>

<hr>

<div class='row'>

        <div class='col-sm-3 col-md-3'>
            <div class="text-center">
            <h5 >Method: Simple Linear</h5>
            <img src="/static/img/arr_linear.jpg" class="img-thumbnail">
            <button type="button" class="btn btn-default arrange-select" 
                    id='arrange-linear' data-algorithmtype='linear'>Linear</button>
            <button type="button" class="btn btn-default rearrange-select" 
            id='rearrange-linear' data-algorithmtype='linear'>Redo</button>
            <!-- <input type='radio' name='algorithm_type' value='linear' id='select-linear'> -->
            <!-- <label class='sr-only' for='select-linear'>Linear Arrangment Method</label> -->
            </div>
            <p>Describe this arrangment method</p>   
            <hr>
        </div>
        <div class='col-sm-3 col-md-3'>   
            <div class="text-center">
            <h5 >Method: Column Hueristic</h5>
            <img src="/static/img/arr_column.jpg" class="img-thumbnail">
            <button type="button" class="btn btn-default arrange-select" 
                    id='arrange-column' data-algorithmtype='column'>Column</button>
            <button type="button" class="btn btn-default rearrange-select" 
                    id='rearrange-column' data-algorithmtype='column'>Redo</button>
            </div>
            <p>Describe this arrangment method</p>   
            <hr>
        </div> 
        <div class='col-sm-3 col-md-3'>
            <div class="text-center">
            <h5 >Method: Grid Expansion</h5>
            <img src="/static/img/arr_expand.jpg" class="img-thumbnail">
            <button type="button" class="btn btn-default arrange-select" 
                    id='arrange-grid' data-algorithmtype='grid'>Grid</button>
            <button type="button" class="btn btn-default rearrange-select" 
                    id='rearrange-grid' data-algorithmtype='grid'>Redo</button>
            </div>
            <p>Describe this arrangment method</p>   
            <hr>
        </div> 

</div>
    

{% else %}
<!-- The gallery cannot be displayed (probably user lacks permissions) -->
<p> I'm sorry Dave, I'm afraid I can't let you do that.</p>

{% endif %}

</div> <!-- /container -->

<script src="/static/js/wall.js"></script>

{% endblock %}


