<!doctype html>
<html>
<head>
  <title>Gallery Wall</title>
    <link rel="stylesheet" href="static/style.css"> 
    <script src="https://code.jquery.com/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="/static/local_copies_untracked/jquery.js"><\/script>')</script>
</head>

<body>  
    
    <a href='/navigation'><img id="navlogo" src="/static/img/LogoFramesSketch.jpg" height="70"></a>
    (<a href='/galleries'>Galleries</a>)
    (<a href='/walls'>Walls</a>)
    
    {% if 'user_id' in session %}
    You are logged in as {{session.username}}! (<a href='/logout-process'>Log out</a>)
    {% else %}
    You are currently a guest on the site - <a href="/login"> Log in</a> for more fun!
    {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <hr>
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <hr>

    {% block content %} Content goes in here! {% endblock %}

</body>
</html>