<!doctype html>
<html>
<head>
  <title>Gallery Wall</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="static/style.css"> 

    <script src={{ config.JQUERY_PATH }}></script>
</head>

<body>  
    
    <a href='/navigation'><img id="navlogo" src="/static/img/LogoFramesSketch.jpg" height="70"></a>
    (<a href='/galleries'>Galleries</a>)
    (<a href='/walls'>Walls</a>)
    
    {% if 'user_id' in session %}
    You are logged in as {{session.username}}! (<a href='/logout-process'>Log out</a>)
    {% else %}
    You are currently a guest on the site - <a href="/login"> Log in</a> for more fun!
    {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <hr>
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <hr>

    {% block content %} Content goes in here! {% endblock %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


</body>
</html>