{% extends 'base.html' %}
{% block content %}

<div class="container">

<p> <a href="/galleries"> Galleries </a> (pick one to be arranged on a wall) </p>
<p> <a href="/walls"> Walls </a> (see arranged galleries) </p>

{% if 'user_id' in session %}
<p> <a href="/curate"> Curate </a> (pick pictures for wall) </p>
<p> <a href="/upload"> Upload </a> (your very own pictures can be used) </p>
{% else %}
<p> If you log in you can upload some pictures and stuff! </p>
{% endif %}

</div> <!-- /container -->

{% endblock %}