{% extends 'base.html' %}
{% block content %}

<div class="container">

<p>A shiney new wall just for you!</p>

<div class='wall-display' data-wallid='{{wall_id}}' id='wall{{wall_id}}'>
    <p> Wall {{wall_id}} Display: </p>
    <canvas id='canvas{{wall_id}}' height='300' width='900'> 
        If you dont have HTML5 canvas, you're gonna have a bad time.
    </canvas>

    {% if 'user_id' in session %}

    <form action='/save-wall' method='POST'>
    <input type='hidden' name='wall_id' value='{{ wall_id }}'>
    <input type='submit' value='Save this wall!'>
    </form>

    {% else %}

    <p> 
    You are currently a guest on the site - so you cannot save this wall.
    Please be aware this page displaying it may not be availible later. 
    </p>

    {% endif %}
</div>

</div> <!-- /container -->

<script src="/static/js/wall.js"></script>

{% endblock %}