{% extends 'base.html' %}
{% block content %}

<!-- This template will take in a list of gallery ids, 
    then prepare divs for javascript to fill -->
    <p>Oh look a wall... or some walls... hopefully.</p>

    {% for wall_id in wall_ids %}
        <div class='wall-display' data-wallid='{{wall_id}}' id='wall{{wall_id}}'>
            Wall {{wall_id}} Display:
            <canvas id='canvas{{wall_id}}' height='300' width='900'></canvas>
        </div>
    {% endfor %}

    <script src="/static/js/wall.js"></script>

{% endblock %}