{% extends 'base.html' %}
{% block content %}

<div class="container">


<div class='wall-display' data-wallid='{{wall.wall_id}}' id='wall{{wall.wall_id}}'>
    <canvas id='canvas{{wall.wall_id}}' height='300' width='900'> 
      HTML5 canvas is required for display.
    </canvas>

</div>

<div class='row'>

    <div class="col-xs-12 col-md-4 col-md-offset-1">
        <table class="table table-striped">
          <thead>
            <tr>
            <th>Wall Width (inches)</th>
            <th>Wall Height (inches)</th>
            <!-- <th>Width and Height (inches)</th> -->
          </tr>
          </thead>
          
          <tbody>
              <tr>
                <td>{{ wall.wall_width }}</td>
                <td>{{ wall.wall_height }}</td>
                <!-- <td> Placeholder </td> -->
              </tr>
          </tbody>
        </table>
    </div>


    <div class="col-xs-12 col-md-6">
        <table class="table table-striped">
          <thead>
            <tr>
            <th>Picture</th>
            <th>From Top (inches)</th>
            <th>From Left (inches)</th>
            <!-- <th>Width and Height (inches)</th> -->
          </tr>
          </thead>
          
          <tbody>
          {% for placement in placements %}
              <tr>
                <td>{{ placement.picture.display_name.title() }}</td>
                <td>{{ placement.y_coord }}</td>
                <td>{{ placement.x_coord }}</td>
                <!-- <td> Placeholder </td> -->
              </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
</div>

</div> <!-- /container -->

<script src="/static/js/wall.js"></script>

{% endblock %}