{% extends 'base.html' %}
{% block content %}

<div class="container">

<!-- TODO: un-hardcode the canvas dimensions -->
{% for wall_id in wall_ids %}
    <div class='wall-display' data-wallid='{{wall_id}}' id='wall{{wall_id}}'>
        <p> Wall {{wall_id}} Display: </p>
        <canvas id='canvas{{wall_id}}' height='300' width='900'> 
            If you dont have HTML5 canvas, you're gonna have a bad time.
        </canvas>

    <form action='/wall-dimensions' method='GET'>
    <input type='hidden' name='wall_id' value='{{ wall_id }}'>
    <input type='submit' value='See wall dimensions'>
    </form>

    </div>
{% endfor %}

</div> <!-- /container -->

<script src="/static/js/wall.js"></script>

{% endblock %}